@media (min-width:1200px) {
    .article-container {



        .article-wrap {


            .three-wheels {

                top: 12%;
                left: 15%;
                width: 15rem;
                height: 15rem;

            }

            .article-title {
                margin: 2rem 0; //

                h1 {
                    font-size: 6rem;
                    line-height: 6rem;
                }
            }

            .article-content {
                // margin-bottom: 7rem;

                p {

                    text-align: center;
                    font-size: 2rem;
                }
            }

            .section-join-wrap {
                height: 80vh;


                .section-wrapper {



                    .section-join-container {



                        .section-content {
                            // width: 100%;
                            padding: 0 10rem;


                            h1 {
                                padding-top: 5rem;
                                // color: $white;
                                font-size: 10rem;
                                text-transform: uppercase;
                            }

                            p {
                                padding-top: 1rem;
                                font-size: 2rem;
                            }
                        }

                        .btn-wrap {
                            padding: 0 10rem;



                            .btn-info {

                                flex-direction: row;




                                .btn {
                                    margin-right: 5rem;

                                    a {
                                        font-size: 2rem;
                                    }

                                }
                            }

                            .margin-1 {
                                margin: 1rem 0;
                            }
                        }

                        .arrows-right {
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            bottom: 0;
                            right: -20%;
                            width: 25rem;
                            height: 15rem;

                            img {
                                width: 100%;
                            }
                        }

                        .section-img {


                            .img-wrap {
                                position: relative;



                                img {

                                    // width: 120%;
                                    // clip-path: polygon(0 0, 100% 0%, 100% 98%, 17% 100%);

                                }

                                .img-obj-under {
                                    position: absolute;
                                    top: -10%;
                                    left: 6%;
                                    width: 5rem;
                                    height: 120%;
                                    background-color: black;
                                    transform: rotate(-10deg);
                                }
                            }
                        }

                    }

                }
            }


        }
    }

    // .btn-wrap {

    //     display: flex;
    //     text-align: center;
    //     justify-content: space-evenly;

    //     .btn-a {
    //         width: 25%;
    //         // margin: 2rem 0;

    //         .a-btn {
    //             padding: 1rem 4rem;
    //             font-size: 1.4rem;

    //         }

    //     }
    // }
}