footer {
    width: 100%;
    height: 100%;

    color: white;
    overflow: hidden;

    .footer-info {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(52, 52, 52, 0.747);
        padding: 3rem 0;

        .f-info-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            padding: 2rem;

            h1.foot-h1 {
                font-family: $anton;
                text-transform: uppercase;
                font-size: 6rem;
                line-height: 6rem;
                font-weight: 100;

                span {
                    color: $orange;
                }
            }

            .arrows-wrap {
                width: 100%;
                height: 100%;




                img {
                    width: 27rem;
                    height: 11rem;
                    transform: translate(-32%, 50%) rotate(-90deg);
                    // transform-origin: 0% 50%;
                }


            }

            .contact-info {
                margin-top: 12rem;

                address {
                    .gym-address {
                        margin-bottom: 3rem;
                        font-weight: 400;

                        span {
                            font-weight: 600;
                            color: $lightOrange;
                        }
                    }

                    .social-contact {
                        width: 100%;

                        ul {
                            width: 100%;

                            li {
                                list-style: none;
                                font-size: 1.5rem;
                                margin: .5rem 0;
                                font-weight: 100;

                                span {
                                    color: $lightOrange;
                                    margin-right: 1rem;


                                    i {
                                        margin-right: 1rem;
                                    }
                                }

                                a {
                                    color: white;
                                    text-decoration: none;

                                    i {
                                        // color: $lightOrange;
                                        margin-right: 1rem;
                                    }
                                }

                                a:hover {
                                    color: rgb(255, 102, 0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        width: 100%;
        // height: 50vh;
        height: 100%;
        background-color: $darkGrey;

        .footer-wrap {
            width: 100%;
            max-width: 1440px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            // font-family: $antonio;

            .footer-box {
                width: 90%;
                height: auto;
                // background-color: black;
                margin: 3rem 0;

                .img-container {
                    width: 6rem;
                    height: 6rem;

                    img {
                        width: 100%;
                    }
                }

                h1 {
                    font-size: 1.8rem;
                    margin-top: 1rem;
                }

                .address-info {
                    .h1-info {


                        span {

                            color: $orange;
                        }

                        a {
                            color: $white;
                            text-decoration: none;
                            font-weight: 400;

                        }



                    }
                }

                .additional-info {


                    .h1-info {
                        color: $orange;
                    }

                    .h1-upper {
                        text-transform: uppercase;
                    }

                    ul {
                        margin-top: 2rem;

                        li {
                            width: auto;
                            list-style: none;
                            margin: 1rem 0;


                            a {
                                display: block;
                                width: 100%;
                                height: 100%;
                                color: white;
                                text-transform: uppercase;
                                text-decoration: none;
                                font-size: 1.5rem;
                                transition: all 0.3s ease-in-out;
                            }

                            a:hover {
                                color: $orange !important;
                            }

                            .inst,
                            .fb {
                                width: auto;
                                display: inline-block;
                                padding: 0 0.5rem;

                                i {
                                    font-size: 2rem;
                                }

                            }
                        }
                    }
                }
            }
        }

    }
}



.footer-img {
    background-image: url(../images/bjj-footer-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer-bottom {
    background-color: $darkGrey;
    color: #a1a1a1;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    border-top: .1rem solid #505050;
}

.footer-bottom-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-bottom-box {
    margin: 1rem;
}

.footer-bottom-box a {
    color: #505050;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.footer-bottom-box a:hover {
    text-decoration: underline;
}