* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: $roboto;
    background-color: $darkGrey;
    scroll-behavior: smooth;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* width */
::-webkit-scrollbar {
    width: 1.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: $darkGrey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient($darkGrey, $orange, $darkGrey);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient($orange, $darkGrey, $orange);
}


main {
    width: 100%;
    min-height: 50vh;

}

article {
    // @extend main;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// @media(min-width: 1024px) {}
.animation-in-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    animation: hide 10s ease-in-out 1 both;

    .animation-container {
        width: 100%;
        height: 100%;
        // background-color: $darkGrey;
        background-image: radial-gradient($darkGrey, black);
        display: flex;
        justify-content: center;
        align-items: center;

        .board-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 15rem;
            height: 15rem;

            // border-radius: 50%;
            // overflow: hidden;
            animation: grow 12s ease-in-out 1 both;

            .square {
                width: 50%;
                height: 50%;
                animation: heartbeat 2.5s ease-in-out infinite both;
                box-shadow: 0 0 2rem .1rem white;

            }

            $borderSize: .4rem;

            .square:nth-child(1) {
                animation-delay: .2s;
                border-top: $borderSize solid rgb(73, 73, 73);
                border-left: $borderSize solid rgb(73, 73, 73);
            }

            .square:nth-child(2) {
                animation-delay: .4s;
                border-top: $borderSize solid white;
                border-right: $borderSize solid white;
            }

            .square:nth-child(3) {
                animation-delay: .6s;
                border-bottom: $borderSize solid white;
                border-left: $borderSize solid white;
            }

            .square:nth-child(4) {
                animation-delay: .8s;
                border-bottom: .4rem solid rgb(73, 73, 73);
                border-right: .4rem solid rgb(73, 73, 73);
            }

            .black {
                background-color: rgb(73, 73, 73);

            }

            .white {
                background-color: white;
                // box-shadow: 0 0 2rem .1rem black;
            }
        }
    }
}


.slide-curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background-color: $darkGrey;
    transition: .9s linear;
    z-index: 20000;
}

.active-slide {
    width: 110%;
}

.slide-curtain-active {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: $darkGrey;
    // transition: .4s linear;
    z-index: 20000;
    animation: hide-curtain 1s linear 1 both;

}

@keyframes hide-curtain {
    from {
        height: 100vh;
    }

    to {
        height: 0;
    }
}


@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
        box-shadow: 0 0 2rem .1rem white;
    }

    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
        box-shadow: 0 0 .9rem .1rem white;
    }

    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
        box-shadow: 0 0 1.5rem .1rem white;
    }

    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
        box-shadow: 0 0 .4rem .1rem white;
    }

    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
        box-shadow: 0 0 2rem .1rem white;
    }
}

@keyframes hide {
    0% {
        display: block;
        opacity: 1;
    }

    70% {

        opacity: 1;
    }

    95% {
        display: block;
        opacity: 0;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1);
    }

    100% {
        transform: scale(.1);
    }
}


@media(min-width: 1200px) {}