* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: $roboto;
    background-color: $darkGrey;
    scroll-behavior: smooth;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* width */
::-webkit-scrollbar {
    width: 1.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: $darkGrey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient($darkGrey, $orange, $darkGrey);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient($orange, $darkGrey, $orange);
}


main {
    width: 100%;
    min-height: 50vh;

}

article {
    // @extend main;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// @media(min-width: 1024px) {}
.animation-in-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    animation: hide 5s ease-in-out 1 both;

    .animation-container {
        width: 100%;
        height: 100%;
        // background-color: $darkGrey;
        background-image: radial-gradient($darkGrey, black);
        display: flex;
        justify-content: center;
        align-items: center;

        .board-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 10vh;
            height: 10vh;

            // border-radius: 50%;
            // overflow: hidden;
            animation: grow 5s ease-in-out 1 both;

            .square {
                width: 50%;
                height: 50%;
                // animation: heartbeat 2.5s ease-in-out 1 both;
                animation: heartbeat 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                ;
                box-shadow: 0 0 2rem .1rem white;

            }

            $borderSize: .2rem;

            .square:nth-child(1) {
                animation-delay: .2s;
                border-top: $borderSize solid rgb(73, 73, 73);
                border-left: $borderSize solid rgb(73, 73, 73);
            }

            .square:nth-child(2) {
                animation-delay: .4s;
                border-top: $borderSize solid white;
                border-right: $borderSize solid white;
            }

            .square:nth-child(3) {
                animation-delay: .6s;
                border-bottom: $borderSize solid white;
                border-left: $borderSize solid white;
            }

            .square:nth-child(4) {
                animation-delay: .8s;
                border-bottom: .4rem solid rgb(73, 73, 73);
                border-right: .4rem solid rgb(73, 73, 73);
            }

            .black {
                background-color: rgb(73, 73, 73);

            }

            .white {
                background-color: white;
                // box-shadow: 0 0 2rem .1rem black;
            }
        }
    }
}


.slide-curtain {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient($darkGrey, black);
    // background-color: $darkGrey;
    // background-image: linear-gradient(rgb(36, 36, 36), $darkGrey);
    // background-image: linear-gradient(-90deg, $darkGrey, $darkGrey, $green);
    // transition: .5s linear;
    z-index: 2000;
    // box-shadow: 0 0 2rem .2rem $orange;
    // opacity: 1;

}

.active-slide {
    // animation: blur-in 1s linear 1 both;
    animation: blur-in 1s linear 1 both;
    // z-index: 2000;
    display: block;
}

.slide-curtain-active {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient($darkGrey, black);
    // background-color: $darkGrey;
    // background-image: linear-gradient(rgb(36, 36, 36), $darkGrey);
    // background-image: linear-gradient(-90deg, $darkGrey, $darkGrey, $green);
    // transition: .4s linear;
    z-index: 2000;

    // overflow: hidden;
    // display: none;
    animation: blur-out 2s linear 1 both;


}

.slide-curtain-active,
.slide-curtain {
    .bg-logo {
        width: 100%;
        height: 100%;
        background-image: url(../images/Logo-bjjocean-checkmat-bjjplymouth-s2.png);
        background-position: center;
        background-size: 30%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@keyframes blur-in {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    90% {
        display: block;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes blur-out {
    0% {
        display: block;
        opacity: 1;
    }

    95% {
        display: block;
        opacity: 0;
    }

    100% {
        display: none;
        // filter: blur(0);
        opacity: 0;
    }
}


@keyframes heartbeat {
    // from {
    //     transform: scale(1);
    //     transform-origin: center center;
    //     animation-timing-function: ease-out;
    //     box-shadow: 0 0 2rem .1rem white;
    // }

    // 10% {
    //     transform: scale(0.91);
    //     animation-timing-function: ease-in;
    //     box-shadow: 0 0 .9rem .1rem white;
    // }

    // 17% {
    //     transform: scale(0.98);
    //     animation-timing-function: ease-out;
    //     box-shadow: 0 0 1.5rem .1rem white;
    // }

    // 33% {
    //     transform: scale(0.87);
    //     animation-timing-function: ease-in;
    //     box-shadow: 0 0 .4rem .1rem white;
    // }

    // 45% {
    //     transform: scale(1);
    //     animation-timing-function: ease-out;
    //     box-shadow: 0 0 2rem .1rem white;
    // }

    0% {
        transform: scale(0) rotate(60deg) skew(90deg) translateY(-80rem);
        opacity: 1;
    }

    100% {
        transform: scale(1) rotate(0) skew(0) translateY(0);
        opacity: 1;
    }

}

@keyframes hide {
    0% {
        display: block;
        opacity: 1;
    }

    50% {

        opacity: 1;
    }

    95% {
        display: block;
        opacity: 0;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(200);
    }
}


@media(min-width: 1200px) {}