.sub-header {
    width: 100%;
    height: 50vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkGrey;

    .header-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .header-box {
            width: 100%;
            height: 50%;
            overflow: hidden;

            .img-wrap {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                // overflow: hidden;


                img {
                    width: 100%;
                    transform: scale(1.1);

                }
            }

            .title-head-wrap {
                width: 100%;
                height: 100%;
                background-color: $darkGrey;
                padding-top: 10rem;
                // margin-top: 8rem;
                padding-left: 2rem;
                margin-bottom: 10rem;

                .title-wrap {
                    width: 100%;
                    height: 80%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-family: $anton;

                    .main-title {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        flex-direction: column;
                        // background-color: green;

                        .h1-title {
                            width: 100%;

                            h1 {
                                color: white;
                                font-size: 5.5rem;
                                letter-spacing: .5rem;
                                text-transform: uppercase;
                                font-weight: 400;
                            }
                        }

                        .h2-title {
                            // width: 100%;


                            h2 {
                                font-size: 3rem;
                                color: $orange;
                                text-transform: uppercase;
                                font-weight: 400;
                            }
                        }
                    }

                    .h2-side-title {
                        height: auto;
                        display: inline-block;
                        writing-mode: vertical-lr;
                        // transform: rotate(-90deg);
                        transform-origin: left top;
                        // background-color: red;
                        white-space: nowrap;
                        // background-color: green;


                        h2 {
                            font-size: 3.5vh;
                            transform: rotate(180deg);
                            color: $orange;
                            text-transform: uppercase;
                            font-weight: 400;
                        }
                    }


                }




            }

            .btn-wrap {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-top: 2rem;
                margin-bottom: 3rem;
                // background-color: red;

                .btn-sub-head {
                    padding-bottom: 4rem;

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        padding: .5rem 3rem;
                        color: white;
                        font-size: 1.2rem;
                        background-color: $green;
                        margin-left: 1rem;
                        font-family: $antonio;
                        font-weight: 100;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .sub-header {

        min-height: 60vh;
        overflow: hidden;


        .header-wrap {

            flex-direction: row;

            .header-box {
                width: 50%;
                height: 100%;



                .title-head-wrap {

                    // padding-top: 10rem;
                    padding-left: 5rem;

                    .title-wrap {


                        .main-title {



                            .h1-title {
                                h1 {

                                    font-size: 8rem;

                                }
                            }

                            .h2-title {



                                h2 {
                                    font-size: 4rem;

                                }
                            }
                        }

                        .h2-side-title {



                            h2 {
                                font-size: 4.2rem;

                            }
                        }


                    }




                }

                .btn-wrap {

                    margin-top: 2rem;
                    // background-color: red;

                    .btn-sub-head {
                        // background-color: green;


                        a {
                            text-decoration: none;
                            text-transform: uppercase;
                            padding: 1rem 3rem;
                            color: white;
                            font-size: 1.4rem;
                            background-color: $green;
                            margin-left: 1rem;
                            font-family: $anton;
                            font-weight: 100;
                        }
                    }
                }
            }
        }
    }
}