.sub-header {
    width: 100%;
    min-height: 10vh;
    // min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkGrey;
    // margin-top: 10rem;
    box-shadow: 0 1rem 1rem .1rem rgba(0, 0, 0, 0.2);
    z-index: 5;

    .header-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .header-box {
            width: 100%;
            height: auto;
            overflow: hidden;

            .img-wrap {
                width: 100%;
                max-height: 30rem;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                // overflow: hidden;
                filter: sepia(5);


                img {
                    width: 100%;
                    transform: scale(1.1);

                }
            }

            .title-head-wrap {
                width: 100%;
                height: 100%;
                background-color: $darkGrey;
                padding-top: 8em;
                // margin-top: 8rem;
                padding-left: 2rem;
                // margin-bottom: 2rem;

                .title-wrap {
                    width: 100%;
                    height: 20rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-family: $anton;

                    .main-title {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        flex-direction: column;
                        // background-color: green;

                        .h1-title {
                            width: 100%;

                            h1 {
                                color: white;
                                font-size: 4rem;
                                letter-spacing: .3rem;
                                text-transform: uppercase;
                                font-weight: 400;
                                height: auto;

                            }
                        }

                        .h2-title {
                            // width: 100%;


                            h2 {
                                font-size: 3rem;
                                color: $orange;
                                text-transform: uppercase;
                                font-weight: 400;
                            }
                        }
                    }

                    .h2-side-title {
                        height: auto;
                        display: inline-block;
                        writing-mode: vertical-lr;
                        // transform: rotate(-90deg);
                        transform-origin: left top;
                        // background-color: red;
                        white-space: nowrap;
                        // background-color: green;


                        h2 {
                            font-size: 2.3rem;
                            transform: rotate(180deg);
                            color: $orange;
                            text-transform: uppercase;
                            font-weight: 400;
                        }
                    }


                }




            }

            .btn-wrap {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin: 3rem 0;
                // background-color: red;

                .btn-sub-head {
                    // padding-bottom: 2rem;

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        padding: 1rem 3rem;
                        color: white;
                        font-size: 1.2rem;
                        background-color: $green;
                        margin-left: .5rem;
                        font-family: $antonio;
                        font-weight: 700;
                        border: .1rem solid transparent;
                        transition: .3s ease-in-out;
                    }


                }
            }
        }
    }
}

@media (min-width: 992px) {
    .sub-header {
        margin-top: 6rem;

        .header-wrap {
            flex-direction: row;

            .header-box {
                width: 50%;

                .title-head-wrap {
                    padding-top: 0;
                    padding-left: 4.5rem;

                    .title-wrap {
                        min-height: 25rem;

                        .main-title {
                            .h1-title {
                                h1 {
                                    font-size: 5rem;
                                }
                            }

                            .h2-title {
                                h2 {
                                    font-size: 4rem;
                                }
                            }
                        }

                        .h2-side-title {
                            h2 {
                                font-size: 2.8em
                            }
                        }
                    }
                }

                .img-wrap {
                    min-height: 42rem
                }

                .btn-wrap {
                    margin-top: 2rem;

                    .btn-sub-head {
                        a {
                            font-size: 1.6rem;
                        }

                        a:hover {
                            background-color: transparent;
                            border: .1rem solid $green;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1400px) {
    .sub-header {
        margin-top: 7rem;
        min-height: 50rem;

        .header-wrap {
            // flex-direction: row;

            .header-box {
                // width: 50%;

                .title-head-wrap {

                    // padding-top: 0;
                    padding-left: 15%;

                    .title-wrap {
                        min-height: 30rem;

                        .main-title {
                            .h1-title {
                                h1 {
                                    font-size: 7rem;
                                }
                            }

                            .h2-title {
                                h2 {
                                    font-size: 4rem;
                                }
                            }
                        }

                        .h2-side-title {
                            h2 {
                                font-size: 3.2rem;
                            }
                        }
                    }
                }

                .img-wrap {
                    min-height: 50rem
                }

                .btn-wrap {
                    margin-top: 2rem;

                    .btn-sub-head {
                        a {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}