// colors
$orange: rgb(241, 151, 96);
$lightOrange: rgb(255, 180, 133);
$darkGrey:rgb(52, 52, 52);
$darkGreyOp:rgba(0, 0, 0, 0.548);
$gold: rgb(223, 207, 176);
$green:rgb(95, 113, 96);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);




// fonts
$roboto: "Roboto",
sans-serif; // weight from 100 to 900 - exept 200 and 800
$robotoCon: "Roboto Condensed",
sans-serif; // weight from 100 to 900
$antonio: "Antonio",
sans-serif; // weight from 100 to 700
$anton: "Anton",
sans-serif; // weight - only 400

// size

$navHeight: 6rem;
$navHeightScreen: 8rem;

// media breakpoints <576 >= 576 >=768 >= 992 >=1200 >=1400s